* {
  transition-duration: .5s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  padding: 70px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer {
  width: 100%;
}

.ui.items>.item {
  padding: 5px;
}

.ui.items>.item:hover {
  background-color: rgba(85, 158, 255, 0.158);
  padding: 5px;
  border-radius: 3px;
}