* {
  transition-duration: .5s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  padding: 70px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer {
  width: 100%;
}

img {
  width: 100%;
}

.mansonry {
  column-count: 1;
  column-gap: 5px;
  margin: 25px 0;
}

@media (min-width: 500px) {
  .mansonry {
    column-count: 2;
  }
}
@media (min-width: 800px) {
  .mansonry {
    column-count: 3;
  }
}
@media (min-width: 1000px) {
  .mansonry {
    column-count: 4;
  }
}

.clock {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
}

.ui .search {
  margin: 50px 0;
}

.get-picture {
  margin: 50px 0;
}

.mansonry a img{
  border-radius: 10px;
}