<div class="container my-5">
    <section id="about-us">
        <h1>About Us</h1>
        <img src="./img/test.png" alt="test">

        <p>This web aplication can read, save, edit, and delete contact with validation.</p>

        <h2>Our Story</h2>
        <p>I can sleep 10 hour in a day</p>

        <h2>Contact Us</h2>
        <p>If you want to know me please get in touch in my LinkedIn or Email</a>.</p>
    </section>
</div>