<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <h1>Contact Us</h1>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>

    <h1>List Contact</h1>
    <% contacts.forEach(contact=> { %>
        <p>Nama: <%= contact.nama %></p>
        <p>No Telp: <%= contact.telp %></p>
    <% }) %>
</body>

</html>