<div class="p-5 my-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Hai There!</h1>
        <p class="col-md-8 fs-4">Want to save contact? please save at contact page.</p>
        <a href="/contact/" class="btn btn-primary btn-lg">Save Contact</a>
    </div>
</div>